<template>
  <div class="hello">
    <h1>Vuejs Form generator</h1>
    <hr>
    <div v-for="key in Object.keys(schema)" v-bind:key="key">
      <template v-if="typeof schema[key] != 'list'">
        <h5 v-if="schema[key].title">{{schema[key].title}}</h5>
        <component
          :is="schema[key].type"
          v-model="l_formdata[key]"
          class="form-object"
          v-bind="schema[key].properties"
        ></component>
      </template>
      <template v-else>
        
      </template>
    </div>
  </div>
</template>

<script>
import Swatches from "vue-swatches";
import "vue-swatches/dist/vue-swatches.min.css";

export default {
  name: "SourceForm",
  components: { Swatches },
  props: {
    schema: Object,
    formdata: Object
  },
  data() {
    // console.log(self.props);
    return { l_formdata: this.formdata };
  },
  methods: {
    compute() {}
  },
  watch: {
    schema: {
      deep: true,
      handler(newSchema, oldSchema) {
        Object.keys(newSchema).forEach(key => {
          console.log(key);
          if (newSchema[key].default && !this.l_formdata[key]) {
            console.log(newSchema[key]);
            this.$set(this.l_formdata, key, newSchema[key].default);
          } else if (!this.l_formdata[key]) {
            this.$set(this.l_formdata, key);
          }
        });
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  margin: 10%;
}

.form-object {
  margin-bottom: 24px;
}

h5 {
  margin-bottom: 12px;
}
</style>
