<template>
  <div id="app">
    <div class="editor">
      <prism-editor v-model="code" language="js"></prism-editor>
    </div>
    <div class="data">
      <prism-editor v-model="textdata" language="js"></prism-editor>
    </div>
    <div class="form">
      <SourceForm :schema="schema" :formdata="formdata"/>
    </div>
  </div>
</template>

<script>
import SourceForm from "./components/SourceForm.vue";

export default {
  name: "app",
  components: {
    SourceForm
  },
  data: () => ({
    code: `{
      'text': {type:"at-input", default: "hello",
        properties: {
          "status":"error"
        },
      },
      'number': {type:"at-input-number"},
      'slider': {type: "at-slider",
        properties:{
          step:30,
        }
      },
      'textarea': {
        type: "at-textarea",
        properties: {
          placeholder:"some placeholder"
        },
      }
    }`,
    schema: {},
    formdata: {}
  }),
  watch: {
    code: {
      deep: true,
      handler(newCode, oldCode) {
        try {
          console.log(newCode);
          this.schema = eval("(" + newCode + ")");
          Object.keys(this.schema).forEach(key => {
            console.log(key);
            if (this.schema[key].default && !this.formdata[key]) {
              console.log(this.schema[key]);
              this.$set(this.formdata, key, this.schema[key].default);
            } else if (!this.formdata[key]) {
              this.$set(this.formdata, key);
            }
          });
          // this.schema = JSON.parse(newCode);
        } catch (e) {
          console.log(e);
        }
      }
    }
  },
  computed: {
    textdata: {
      get() {
        return JSON.stringify(this.formdata, null, 2);
      },
      set(newText) {
        try {
          this.formdata = JSON.parse(newText);
        } catch (e) {
          console.error(e);
        }
      }
    }
  }
};
</script>

<style>
#app {
  height: 100vh;
  width: 100vw;
}

.editor {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50%;
  width: 50%;
}

.data {
  position: absolute;
  top: 51vh;
  left: 0px;
  height: 50%;
  width: 50%;
}

.form {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
}
</style>
